*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(191, 212, 249);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
